/***** COMMON *****/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(48, 50, 232);
    color: white;
    font-family: "Press Start 2P", serif;
}

/***** LOGO *****/
#logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#logo img {
    width: 25rem;
}

/***** GRID *****/
#grid {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5rem;
    padding-top: 2rem;
}
/* InfoSide */
#infoSide {
    width: 40%;
    padding-left: 2rem;
    padding-top: 7rem;
}

#errorCounter {
    display: flex;
    align-items: center;
}
/* ImgSide */
#imgSide {
    width: 60%;
}
/* Cards List Styling */
#imgSide ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Card Styling */
#imgSide ul li {
    width: calc(100% / 4);
}
/* Img Styling */
#imgSide ul li img {
    width: 100%;
}